@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --color-pantone357C: rgb(0,83,40);
    --color-pantone363C: rgb(51,140,38);
    --color-pantone362C: rgb(41,153,38);
    --color-yellow-c: rgb(245,230,23);
    --color-pantone-7406C: rgb(227,186,18);


    
    --color-green-bold: #006632;
    --color-green-semibold: #008822;
    --color-green-medium: #11AB1A;
    --color-green-thin: #77C14F;

    --color-yellow-bold: #FBC800;
    --color-yellow-medium: #FAE116;

    --color-graphite: #606163;
    
    --color-grey: #D2D4D5;
    --color-grey-thin: #e6e7e8;




}



@layer base {
    html {
      font-family: "Helvetica";
    }

    html::-webkit-scrollbar {
      width: 5px;
    }

    html::-webkit-scrollbar-thumb {
      background-color: var(--color-green-bold);
      width: 100px;
      border-radius: 10px;
    }
  }